<header>
  <nav>
    <a href="index.html"><img class="logoMain" src="assets/img/logo.png" alt="Logo"></a>




    <span class="logoText">Liverpool</span>
    <div class="container-btn-nav">
      <div class="menu">
        <a class="btn-nav" href="#">Home</a>
        <a class="btn-nav" routerLink="/about">About</a>
        <a class="btn-nav" href="#infoBoxemblem">Emblem</a>
      </div>
      <div class="animBarDiv">
        <p class="btn-nav">Game</p>

      </div>
    </div>
  </nav>
</header>
