<footer>
  <img src="assets/img/liver.png" alt="Liver">
  <ul>
    <li>Privacy Policy</li>
    <li>Privacy Policy</li>
    <li>Privacy Policy</li>
    <li>Privacy Policy</li>
    <li>Privacy Policy</li>
  </ul>

  <p>© Copyright 2018 The Liverpool Football Club and Athletic Grounds Limited. All rights reserved.</p>
  <p>Developed and maintained by the LFC Technology and Transformation Team</p>
  <p>Match Statistics supplied by Opta Sports Data Limited. Reproduced under licence from Football DataCo Limited.
    All rights reserved.</p>

</footer>
