<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2377.1050816941665!2d-2.963018684328866!3d53.43082937999683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b21654b02538b%3A0x84576a57e21973ff!2z0K3QvdGE0LjQu9C0!5e0!3m2!1sru!2skz!4v1544083614399"
        width="1100" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
<hr>
<p>
  Anfield could accommodate more than 60,000 supporters at its peak, and had a capacity of 55,000 until the
  1990s. The Taylor Report and Premier League regulations obliged Liverpool to convert Anfield to an all-seater
  stadium in time for the 1993–94 season, reducing the capacity to 45,276.The findings of the Taylor Report
  precipitated the redevelopment of the Kemlyn Road Stand, which was rebuilt in 1992, coinciding with the
  centenary of the club, and was known as the Centenary Stand until 2017 when it was renamed the Kenny Dalglish
  Stand. An extra tier was added to the Anfield Road end in 1998, which further increased the capacity of the
  ground but gave rise to problems when it was opened. A series of support poles and stanchions were inserted
  to give extra stability to the top tier of the stand after movement of the tier was reported at the start of
  the 1999–2000 season
</p>
<br>
<hr>
