<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/img/headerImage_1.jpg" alt="First slide" height="1000px">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/img/headerImage_2.jpg" alt="Second slide" height="1000px">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/img/headerImage_3.jpg" alt="Third slide"height="1000px">
  </mdb-carousel-item>
</mdb-carousel>
