
<main>


  <div id="infoBoxabout" class="infoBoxContainer animatedParent" data-appear-top-offset='-300'>
    <div class="animated fadeInUp delay-150">
      <div class="infoBox" style="margin-bottom: 30px">

        <img class="headerImage slide2" src="assets/img/forestImage.jpg" alt="asd">

        <h4>{{'About'| uppercase}}</h4>
        <p>
          For much of Liverpool's history its home colours have been all red, but when the club was founded its kit was
          more like the contemporary Everton kit. The blue and white quartered shirts were used until 1894, when the
          club adopted the city's colour of red.The city's symbol of the liver bird was adopted as the club's badge in
          1901, although it was not incorporated into the kit until 1955. Liverpool continued to wear red shirts and
          white shorts until 1964, when manager Bill Shankly decided to change to an all red strip.

        </p>
        {{today  |  date:'mediumDate'}}
      </div>
      <div class="infoBoxButtonContainer">
        <a class="btn-1" routerLink="/about">{{'More...' | lowercase}}</a>

      </div>
    </div>
  </div>
<br>
  <br>
  <br>
  <br><br>
  <br>
  <img class="headerImage slide1" src="assets/img/nightCityImage.jpg" alt="asd">
  <div id="infoBoxemblem" class="infoBoxContainer animatedParent" data-appear-top-offset='-300'>
    <div class="animated fadeInUp delay-150">
      <div class="infoBox">

        <img class="headerImage slide3" src="assets/img/emblem.jpg" alt="asd">

        <h4>{{'Stadium' | uppercase}}</h4>
        <p>
          For much of Liverpool's history its home colours have been all red, but when the club was founded its kit was
          more like the contemporary Everton kit. The blue and white quartered shirts were used until 1894, when the
          club adopted the city's colour of red.The city's symbol of the liver bird was adopted as the club's badge in
          1901, although it was not incorporated into the kit until 1955. Liverpool continued to wear red shirts and
          white shorts until 1964, when manager Bill Shankly decided to change to an all red strip.
        </p>{{today  |  date:'mediumDate'}}
      </div>
      <div class="infoBoxButtonContainer">
        <a class="btn-1" routerLink="/stadium">{{'More...' | lowercase}}</a>

      </div>
    </div>
  </div>

  <div class="animatedParent" data-appear-top-offset='-300'>
    <div class="sponsor animated fadeInUp delay-150">
      <a href="#sponsor"><img src="assets/img/sponsor.png" alt="Top"></a>
    </div>
  </div>

</main>
