
<main>
  <div class="headInfo" id="headInfo">
    <p>
      The main purpose of this website is to show the Liverpool team. You can find information about them.
    </p>
  </div>
  <div class="slider-wrapper">
    <div id="slider">
      <img class="headerImage slide1" src="assets/img/headerImage_1.jpg" alt="asd">
      <img class="headerImage slide2" src="assets/img/headerImage_2.jpg" alt="asd">
      <img class="headerImage slide3" src="assets/img/headerImage_3.jpg" alt="asd">
    </div>
  </div>
  <div id="infoBoxAbout" class="infoBoxContainer animatedParent" data-appear-top-offset='-300'>
    <div class="animated fadeIn">
      <div class="infoBox">
        <h4>About Us</h4>
        <p>
          Black and white photograph of elder and bald John Houlding, wearing beard and bow tie.
          John Houlding, the founder of Liverpool F.C.
          Liverpool F.C. was founded following a dispute between the Everton committee and John Houlding, club
          president and owner of the land at Anfield. After eight years at the stadium, Everton relocated to Goodison
          Park in 1892 and Houlding founded Liverpool F.C. to play at Anfield.Originally named "Everton F.C. and
          Athletic Grounds Ltd" (Everton Athletic for short), the club became Liverpool F.C.
        </p>
      </div>
      <div class="infoBoxButtonContainer">
        <a class="btn-1" href="about.html">More...</a>
      </div>
    </div>
  </div>

  <div class="imageContainer">
  </div>

  <div id="infoBoxemblem" class="infoBoxContainer animatedParent" data-appear-top-offset='-300'>
    <div class="animated fadeInUp delay-150">
      <div class="infoBox">
        <h4>Emblem</h4>
        <p>
          For much of Liverpool's history its home colours have been all red, but when the club was founded its kit was
          more like the contemporary Everton kit. The blue and white quartered shirts were used until 1894, when the
          club adopted the city's colour of red.The city's symbol of the liver bird was adopted as the club's badge in
          1901, although it was not incorporated into the kit until 1955. Liverpool continued to wear red shirts and
          white shorts until 1964, when manager Bill Shankly decided to change to an all red strip.
        </p>
      </div>
      <div class="infoBoxButtonContainer">
        <a class="btn-1" href="emblem.html">More...</a>

      </div>
    </div>
  </div>

  <div class="imageContainer">

  </div>
  <div class="animatedParent" data-appear-top-offset='-300'>
    <div class="sponsor animated fadeInUp delay-150">
      <a href="#sponsor"><img src="assets/img/sponsor.png" alt="Top"></a>
    </div>
  </div>
</main>
