
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 100px;
  margin-top: 30px;
}

.form-inline input {
  width: 80%;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  margin-right: 5px;
  border-radius: 7px;
}

.form-inline button:hover {
  background-color: royalblue;
}


.comp2 {
  margin: 200px auto 0;
  width: 50%;
  padding: 10px;
}
